*~
aclocal.m4
autom4te.cache/
*.bak
blib/
*.buildinfo
*.cap
*.changes
compile
config
config.guess
config.h
config.h.in
config.status
config.sub
configure
configure.in
*.deb
debian/autoreconf.after
debian/autoreconf.before
depcomp
env
env.pl
*.ERR
install-sh
libtool
*.log
ltmain.sh
Makefile
Makefile.in
Makefile.old
missing
MYMETA.json
MYMETA.yml
*.o
*.pid
pm_to_blib
src/.deps/
src/gcptr
stamp-h1
*.swp
*.tdy
